$color_brand: #141b2c;
$color_brand--light: #202a43;

$color_success: #82c94e;
$color_warning: #cd5050;
$color_active: #4788c7;
$color_disabled: #212944;
$color_hover: #74ace2;
$color_hover--light: #98c578;

$color_text--light: #cbddf0;
$color_text: #425277;
$color_text--medium: #a9c8e8;
$color_text--lighter: #ffffff;

$color_priority--low: #425277;
$color_priority--high: #cd5050;

$color_dialog__background: #020713;
$color_dialog__hr: #1f2942;
$color_dialog__round-factor: 12px;

$round-factor: 8px;
